html, body
{
    margin: 0;
    padding: 0; 
    border: 0;
}
body
{
    font-family:Arial,sans-serif;
    font-size:16px;
    background: #fff;
    color: #000;
    word-wrap: break-word;
    -webkit-text-size-adjust: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
h1, h2, h3, h4, h5, h6{ 
    padding:0;
    margin:0; 
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none;
}
ol, ul,p {
    list-style: none;
    padding:0;
    margin:0;
}
input,textarea,button{
    outline: none;
    border: 0;
    -webkit-appearance: none;
    padding:0;
    margin:0;
}